<ion-view class="accessory" view-title="Accessories">
    <ion-content>
        <div class="accessory_container">
            <div class="list">

                <div class="item item-divider">
                    AVATOR SETTINGS
                </div>
                <div class="item item-stacked-label range range-positive">
                    <span class="input-label">RED LED</span>
                    <input type="range" name="volumeLeft" min="0" max="100"  ng-model="data.volumeLeft" ng-change="leftVol()">
                </div>
                <div class="item item-stacked-label range range-positive">
                    <span class="input-label">BLUE/GREEN LED</span>
                    <input type="range" name="volumeRight" min="0" max="100"  ng-model="data.volumeRight" ng-change="rightVol()">
                </div>
                <div class="item item-divider">
                    OTHER SETTINGS
                </div>
                <div class="item item-toggle bg-color">
                    <label>Quanta Capsule</label>
                    <label class="toggle toggle-positive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item clearfix bg-color">
                    <label style="float:left;width:90px">Genius 3D</label>
                    <button class="button button-small button-dark" style="float:right;width:80px; border-radius:15px;">
                       Request
                    </button>
                </div>
                <div class="item bg-color">
                    <label>Brain Wave EEG</label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>