<ion-view view-title="Account Activation">
    <ion-header-bar align-title="center" class="button-clear account">
        <h1 class="title login-title">Account Activation</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class='account-activation'>
<!--                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Enter your email id" name="email" ng-model="data.email" >
                </label>-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Activation Code</span>
                    <input type="text" placeholder="Enter your activation code" ng-model="data.activation_key">
                </label>
                
                <div class="button button-full button-dark activate_button" ng-click="accountActivation()">Activate Your Account</div>
                <div class="text-center" ng-show="show">
                    <img width="25" height="25" class="email-support" ng-src="img/sad.png"/>
                    <p>Activation Failed ? </p>
                    <img width="24" height="35" class="email-support" ng-src="img/email-support.png" />
                    <div class="button button-clear button-full font-white " ng-click="emailSupport()">Email Support</div>
                </div>
                <div class="free_trail_div" style="margin-top:100px">
                    <a ng-if="status!=='2'" ng-href="#/app/user_record_one" class="button button-full button-positive free-trail" style="margin-top:30px">Free Trial For 15 Days. Click Here</a>
                </div>
        </div>
    </ion-content>
</ion-view>