<ion-view  class="new_library add_library" view-title="Add Library">
    <ion-content class="has-header">
        <div class="new_library_container">
            <ul class="list" type="none">
                <li class="clearfix item">

                    <p style="float:left;line-height:50px;color:#333; font-size:16px;">Category Picture (optional)</p>
                    <img style="float:right; border-radius:50%;width:50px;" src="{{ libraryImageURI || data.image || 'img/herbs-img.png'}}" ng-click="selectImage()">
                </li>
                <li class="clearfix item" style="line-height:45px; color:#333">
                    <p style="float:left;color:#333">User</p>
                    <div style="float:right;color:#333" ng-click="userList()"><label>{{library_user.name || 'Select User'}}</label>
                    <img src="img/list-frwd-arrow.png" style="left: 2px;position: relative;top: 4px; width: 9px;">

                    </div>
                </li>
                <li class="clearfix item" style="line-height:45px">
                    <p style="float:left;width:60%;color:#333">Category Name</p>
                    <input type="text"  placeholder="Enter Name" style="float:left;width:35%;background-color: transparent;margin-top:5px;" ng-model="data.name">
                </li>
                <li class="item item-stacked-label"><span style="color:#333">Category Description</span>
                <label class="item item-input text-area">
                    <textarea ng-model="data.description" style="color:#333;margin:0px" rows="7" placeholder="Please enter your symtoms and detail any specific issues you would like to focus on during your session" ></textarea>
                </label>
                </li>
            </ul>
        </div>
    </ion-content>
     <ion-footer-bar class="bar bar-footer new_library_footer" style="border-top-width:0">
         <button class="button button-full button-dark save_button" ng-click="addLibrary()">Save</button>
    </ion-footer-bar>
</ion-view>