<ion-view view-title="Bio Compatibility"> 
<ion-content>
        <div class="bio_container">
            <input type="text" placeholder="Enter Name" class="inputName">
            <div>
                        <div class="button  text-center scan_button">
                            Scan
                        </div>
                        
                    </div>
        </div>
    </ion-content>
</ion-view>