<ion-view class="cross_analysis" view-title="Cross Analysis">
    <ion-content>
        <div class="cross_analysis_container">
            <div class="list">
                <div class="filter_div item text-center">
                    <label>Angst</label>

                    <div class="item item-input-inset input_div">
                        <label class="item item-input-wrapper">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input class="text-center" type="text" placeholder="Search">
                        </label>
                    </div>
                    <i class="icon ion-search"></i>
                </div>
                <div class="item cross_list clearfix" ng-repeat="crossItem in crossList">
                    <p>{{crossItem.name}}</p>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer cross_analysis_footer">
        <div class="footer_container">
                 <div class="text-center number-content">
                 <label>12820</label>
                 </div>
        <div class="button">
            Check
        </div>
        </div>
    </ion-footer-bar>
</ion-view>