<ion-view class="frequency" view-title="Frequencies">
    <ion-content>
        <div class="frequency_container">
            <div class="item item-divider">
                WAVE INTENSITY
            </div>
            <div class="row bg-color">
                <div class="col active">Default</div>
                <div class="col">x10</div>
                <div class="col">x25</div>
                <div class="col border-right-style">x50</div>
            </div>
            <div class="item item-divider">
                WAVE SHAPE
            </div>
            <div class="row  bg-color">
                <div class="col active">Solution Wave</div>
                <div class="col border-right-style">Harmonic Wave</div>
            </div>
            <div class="item item-divider">
                WAVE FORM
            </div>
            <div class="row bg-color">
                <div class="col active">Sine</div>
                <div class="col">Square</div>
                <div class="col">SawTooth</div>
                <div class="col border-right-style">Alternating</div>
            </div>
        </div>
    </ion-content>
</ion-view>
         