<ion-view class="heading" view-title="Heading">
    <ion-content>
        <ul type="none" class="list heading_container">
            <li class="item item-divider frequency_head">
                <label>FREQUENCIES</label>
                <button class="edit">Edit</button>
                <button class="add">Add</button>
            </li>
            <li class="item clearfix frequency_record" style="background-color:rgba(255,255,255,0.5)" ng-repeat="frequencyParam in frequencyList">
                <label class="text-center">{{frequencyParam.value}}</label>
                <label class="text-center">{{frequencyParam.time}}</label>
                <label class="text-center">{{frequencyParam.type}}</label>
            </li>
            <li class="item item-divider frequency_sweep_head" style="padding:10px 0px;">
                <label>FREQUENCIES SWEEP</label>
                <button class="save">Save</button>
                <button class="add">Add</button>
            </li>
            <li class="item" style="background-color:rgba(255,255,255,0.5)">
                <ul>
                    <li class="clearfix"><input type="text" style=" float:left;width:20%"><label style="float:left;padding:0px 3px;line-height:30px;">-</label><input type="text" style=" float:left;width:20%">
                <select style="float:right;width:30%">
                    <option>Sine</option>
                    <option>Square Tooth</option>
                </select>
            </li>
            <li class="clearfix" style="padding-top:5px;">
                <input type="text" style=" float:left;width:20%;"><label style="float:left;padding-left:8px;line-height:30px">Mins</label>
            </li>
                </ul></li>
                <li class="item" style="background-color:rgba(255,255,255,0.5)">
                <ul>
                    <li class="clearfix"><input type="text" style=" float:left;width:20%"><label style="float:left;padding:0px 3px;line-height:30px;">-</label><input type="text" style=" float:left;width:20%">
                <select style="float:right;width:30%">
                    <option>Sine</option>
                    <option>Square Tooth</option>
                </select>
            </li>
            <li class="clearfix" style="padding-top:5px;">
                <input type="text" style=" float:left;width:20%;"><label style="float:left;padding-left:8px;line-height:30px">Mins</label>
            </li>
                </ul></li>
        </ul>
    </ion-content>
</ion-view>
