<ion-view class="herbs" view-title="{{library.name}}">
    <ion-content>
        <div class="herbs_container">
        <div class="list">
            <div class="item herbs clearfix" ng-repeat="library_item in data.library_items">
                <p>{{library_item.name}}</p>
                <img src="{{library_item.image || 'img/path-img.png'}}"/>
            </div>
        </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer herb_footer">
        <button class="button button-full button-dark add_item" style="float:left;width:50.5%;margin: -1px;">Import</button>
        <button class="button button-full button-dark add_item" style="float:right;width:50.5%;margin:-6px;" ng-click="addManually()">Add Manually</button>
    </ion-footer-bar>
</ion-view>
