<ion-view class="libraries" view-title="Libraries">
    <ion-content>
        <div class="libraries">
            <ul class="list" type="none" style="padding-top:0">
                <li class="item item-icon-right" ng-repeat="library in data.library_list" ng-click='showLibraryDetail(library.library_id, library.name)'>
                    <img width="70" height="70"  style="float:left;border-radius:50%" src="{{library.image || 'img/herbs-img.png'}}" />
                    <span class="text">{{library.name}}</span>
                    <img src="img/path-img.png" class="arrow-right" style="height: auto;margin-top: 22px;width: 10px;"/>
                </li>
            </ul>
        </div>
    </ion-content>
    <ion-footer-bar class="libraries">
       <button class="button button-full button-dark import_button">Import</button>
       <button class="button button-full button-dark add_manually" ng-click="addLibrary()">Add Manually</button>
    </ion-footer-bar>
</ion-view>
         

