<ion-view  class="herb_one">
    <ion-header-bar align-title="center" class="button-clear">
        <a class="button button-clear font-white back-btn" ng-href="#/app/libraries" style="margin-top:4px;">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">{{data.name}}</h1>
<!--        <a class="button button-clear font-white "  ng-click="editLibrary()" ng-disabled="edit_disabled">  </a>-->
        <img class="button button-clear font-white " src="img/edit-pen.png" ng-click="editLibrary()" ng-disabled="edit_disabled" width="32" style="margin-top:3px">
    </ion-header-bar>
    <ion-content class="has-header">
        <a href="system_overview.html"></a>
        <div class="library_detail_container">
            <ul class="list" type="none">
                <li class="clearfix item category_picture">
                    <p style="float:left;line-height:50px;color:#333; font-size:16px;">Category Picture(optional)</p>
                    <img style="float:right;width:50px; border-radius:50%" src="{{imageURI ||data.image || 'img/herbs-img.png'}}" ng-click="changeImage()">
                </li>
                <li class="clearfix item user_selected text-right" style="line-height:45px; color:#333">
                    <p style="float:left;color:#333" class="text-left">User</p>
                    <div style="float:right;width:100px;color:#333" class="current_user" ng-click="changeName(data.library_id)"><label>{{library_detail.name || data.records_name }}</label>
                    <img src="img/list-frwd-arrow.png" class="forward_arrow" style="left: 2px;position: relative;top: 4px; width: 9px;"  >
                    </div>
                </li>
                <li class="clearfix item category_name" style="line-height:45px">
                    <p style="float:left;width:60%;color:#333">Category Name</p>
                    <input type="text" value="{{data.name}}" class="text-right" ng-readonly="readonly" style="float:left;width:35%;background-color: transparent;margin-top:5px;">
                </li>
                <li class="item item-stacked-label"><span style="color:#333">Category Description</span>
<!--                <label class="item item-input" style="background:transparent;">-->
                    <textarea style="font-size:14px;width:100%;" style="color:#333;margin:0px" rows="4" placeholder="Please enter your symtoms and detail any specific issues you would like to focus on during your session" ng-model="data.description" ng-readonly="readonly"></textarea>
                 </li>
                <li class="item clearfix item_list"  ng-click="addItems()" style="line-height:30px; color:#333" >
                    <p style="float:left;color:#333" class="text-left">Items</p>
                    <div class="text-right item_count" style="float:right;width:100px;color:#333" ><label>{{data.item_count}} Items</label>
                    <img src="img/list-frwd-arrow.png" style="left: 2px;position: relative;top: 4px; width: 9px;">
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
     <ion-footer-bar class="bar bar-footer new_library_footer" style="border-top-width:0">
         <button class="button button-full button-dark save_button" ng-if="!showSave"ng-click="exportLibrary()">Export</button>
         <button class="button button-full button-dark save_button" ng-if="showSave" ng-click="updateLibrary()">Save</button>
    </ion-footer-bar>
</ion-view>