<ion-view class="list_user" view-title="Select User">
    <ion-content>
        <div class="list_user_container">
            <ul class="list" type="none">
                <li class="item" collection-repeat="selectedUser in data.userList" style="background-color: rgba(255, 255, 255, 0.5);" ng-click="selectUser(selectedUser.id,selectedUser.first_name+ ' ' + selectedUser.last_name )">
                    <img src="{{selectedUser.record_image || 'img/default_profile.png'}}">
                    <p>{{selectedUser.first_name + ' ' + selectedUser.last_name}}</p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>