<ion-view view-title="Login">
    <ion-header-bar align-title="center" class="button-clear login">
        <h1 class="title login-title">Sign In</h1>
    </ion-header-bar>
    <ion-content>
        <div class='login'>
                <div class="text-center facebook-button">
                    <img width="320" height="50" ng-src="img/facebook_login.png" ng-click="facebookLogin()"/>
                </div>
                <div class="text-center">
                    <p>OR LOGIN USING EMAIL</p>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Enter your email id" name="email" ng-model="data.email" class="inputtag">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter your password" ng-model="data.password"  class="inputtag">
                </label>
                <div class="button button-full button-dark login_button" ng-click="login()">Log In</div>
                <div class="text-center">
                    <a class="button button-clear font-white" ng-href="#/forget_password">Forgot Password?</a>
                </div>
                
        </div>
    </ion-content>
	<ion-footer-bar class="login-footer">
    	<div class='login'>
            <div class="login-link">
                <a class='button button-clear font-white' ng-href="#/signup">New Member? SignUp</a>
            </div>
        </div>
    </ion-footer-bar>
    
</ion-view>