<ion-view class="mep" view-title="MEP">
     <ion-content>
        <div class="mep_container">
            <input type="text" placeholder="Enter Name" class="inputName">
            <div  class="playerMEP" delegate-handle="formularContent">
                        <p>Set Time (Minutes)</p>
                        <div class="clearfix min-minder">
                            <div class="zero-min">0</div>
                            <div class="thirty-min">30</div>
                        </div>
                        <div class="range range-positive set_time">
                            <input type="range" name="volume" min="0" max="30">
                        </div>
                        <div class="button  text-center scan_button">
                            Scan
                        </div>
                        
                    </div>
        <div class="list">
            <div class="item mep_list clearfix" ng-repeat="mepItem in mepList">
                <p>{{mepItem.name}}</p>
                <label>40%</label>
            </div>
        </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer mep_footer">
        <label class="text-center" style="width:100%;line-height:46px">Total:40%</label>
    </ion-footer-bar>
</ion-view>