<ion-view class="record_past" view-title="Past Records">
    <ion-content class="has-header">
        <div class="past_record">
            <div class="list">
                <a class="item item-stacked-label item-icon-right" href="#" ng-repeat="record in recordList" ng-click="analysisDetail(record.analysis_id)">
                    <p>{{record.date}}</p>
                    <p>{{record.time}}</p>
                    <i class="icon ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="past_record bar bar-footer text-center">
        <div class="voice_analysis_button button button-dark" ng-click="beginVoiceAnalysis()">Continue With New Analysis</div>
    </ion-footer-bar>  
</ion-view>