<ion-view class="herbs" view-title="Recheck">
    <ion-content>
        <div class="recheck_container">
            <input type="text" placeholder="Enter Name" class="inputName">
        <div class="list">
            
            <div class="item recheck_list clearfix" ng-repeat="recheckItem in recheckList">
                <p>{{recheckItem.name}}</p>
                <label class="checkbox checkbox-square clearfix">
                    <span ng-if="recheckItem.selected && scan" style="float:left;width:30px;line-height:27px">666</span>
                    <span ng-if="!recheckItem.selected || !scan" style="float:left;min-width:30px;line-height:27px">&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" style="float:left;width:20px;line-height:20px;margin-left:5px;font-size:120%" ng-model="recheckItem.selected">
                    
                </label>
            </div>
        </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer recheck_footer">
          <div class="button"  ng-click="scanProcess()">
                Scan
          </div>
    </ion-footer-bar>
</ion-view>