<ion-view class='setting' view-title="Settings">
    <ion-content>
        <div class="setting_container">
            <div class="list">
                <div class="item item-divider">
                    ACTION
                </div>
                <div class="bg-color clearfix">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="middle" width="62" style="vertical-align:middle !important">
                    		<div class="icon">
                    	<img src="img/printer-icon.png" class="icon-bg" />
                   		<!--<i class="icon ion-clipboard"></i>-->
                    </div>    
                        </td>
                        <td align="left" valign="middle" style="vertical-align:middle !important;border-bottom:1px solid #dfdfdf">
                        	<div class="item">    
                 	  	<label>Print Page</label>
                    </div>
                        </td>
                      </tr>
                    </table>

                    
                    
                </div>
                <div class="bg-color clearfix">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="middle" width="62" style="vertical-align:middle !important">
                        	<div class="icon">
                    	<img src="img/message-icon.png" class="icon-bg"  />
                       <!-- <i class="icon ion-email"></i>-->
                    </div>
                        </td>
                        <td align="left" valign="middle" style="vertical-align:middle !important;border-bottom:1px solid #dfdfdf"><div class="item">
                        <label>Email Report</label>
                    </div></td>
                      </tr>
                    </table>
                    
                    
                </div>
                <div  class="bg-color clearfix">
                	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="middle" width="62" style="vertical-align:middle !important">
                        	<div class="icon">
                                <img src="img/chat-icon.png" class="icon-bg"  />
                                <!--<i class="icon ion-email"></i>-->
                            </div>
                        </td>
                        <td align="left" valign="middle" style="vertical-align:middle !important;border-bottom:1px solid #dfdfdf">
                        	<div class="item border"><label>Facebook Post</label></div>
                        </td>
                      </tr>
                    </table>
                    
                </div>    
                    <div class="item item-divider">
                        SCAN VOLUME
                    </div>
                <div class="item bg-color">
                    <input type="range" name="volume" min="0" max="100" value="33" style="width:100%">
                </div>
                <div class="item item-divider">
                    TEAMVIEWER REMOTE SUPPORT
                </div>
                <div class="item bg-color">
                    <p><a style="color:#000;">http://integrate.teamviewer.com</a></p>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>