<ion-view class="supportive" view-title="Supportive">
    <ion-content>
        <div class="supportive_container">
            <div class="list">
                <a class="item item-icon-right" href="#/app/mep">
                    <span class="text">MEP</span>
                    <img src="img/path-img.png" width="15px" height="25px" style="float:right"  />
                </a>
                <a class="item item-icon-right" href="#/bio_compatibility">
                    <span class="text">Bio-Compatibility</span>
                     <img src="img/path-img.png" width="15px" height="25px" style="float:right"  />
                </a>
                <a class="item item-icon-right" href="#/app/recheck">
                     <span class="text">Re-Check</span>
                     <img src="img/path-img.png" width="15px" height="25px" style="float:right"  />
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>