<ion-view view-title="{{title}}">

    <ion-header-bar class="system_overview bar bar-subheader">
        <div class="system_overview clearfix">
            <div class="arrow_down">
                <img src="img/arrow-down.png" ng-show="changeIconBRx" ng-click="showPlayerBRx()">
            </div>
            <div class="arrow_up">
                <img src="img/arrow-up.png" ng-show="!changeIconBRx" ng-click="hidePlayerBRx()">
            </div>
            <div class="text_subheader">
                <span>Balance RX</span>
            </div>

            <div class="arrow_right">
                <img src="img/playbtn.png" ng-click="playTuneBRx()">
            </div>

            <div class="text1_subheader">
                <p>{{itemCountBRx}} Items,{{data.timeControlValueBRx}} Min</p>
            </div>   
        </div>
    </ion-header-bar>
<a href="#" style="position:fixed; display:block;width:35px;height:35px; z-index:9999;top:30%; margin-top:-17px; right:5px"><img src="img/help.png" style="width:35px" ng-click="displayHelp()"></a>
    <ion-content class="scroll-content ionic-scroll has-header has-subheader has-footer ">
        <div class="system_overview">
            <div class="list">
                <div style="position:relative;z-index:22">
                    <div class="playerBRx item" ng-show="IsVisibleBRx" style="position:relative;">
                        <p>Drag & Drop Items here</p>
                        <div class="list clearfix">
                            <div class="item text-center play_list" ng-repeat="playItemBRx in playItemsBRx| limitTo: data.limitOfItemsBRx">
                                {{playItemBRx.title}}<i class="icon ion-close-round delete_button" ng-click="deleteItemBRx($index)"></i>
                            </div>
                            <div class="item text-center play_list more" ng-show='displayMoreBRx' ng-click="displayAllBRx()"  >
                                {{itemsRemainBRx}} more
                            </div>
                        </div>
                        <div class="range range-positive">
                            <input type="range" name="volume" min="0" max="30"  ng-model="data.timeControlValueBRx">
                        </div>
                        <div class="clearfix min-minder">
                            <div class="zero-min">0 Min</div>
                            <div class="thirty-min">30 Min</div>
                        </div>
                    </div>

                    <ion-list can-swipe="listCanSwipe">
                        <ion-item class="item  item-thumbnail-left"  style="z-index:2" id="param{{param.id}}" ng-repeat="param in paramGroup| orderBy:'randomValue':true" ng-click="findIndex($index)"  >
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" width="85px" valign="middle"><img class='scan_image' src="img/mind-img.png"></td>
                                    <td align="left" valign="middle" style="vertical-align:middle !important">
                                        <h2>{{param.title}}</h2>
				<div class="clearfix" ng-show="IsVisible">
                                    <progress max="777" min="0" class="progerss-bar {{param.topClassActive}}" value="{{param.randomValue}}"></progress>
                                    <label style="float: right;line-height: 0;position: relative;right: 10px;top: -3px;">{{param.randomValue}}</label>
                                        </div>                                
                                    </td>
                                </tr>
                            </table>
                            <ion-option-button class="button-positive" ng-click="addBRx(param)">
                                Add in Balance RX
                            </ion-option-button>
                            <ion-option-button class="button-assertive" ng-click="addMRx(param)">              
                                Add in Multilayer RX
                            </ion-option-button>
                        </ion-item>
                    </ion-list>
                </div>           
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="system_overview bar {{classFooter}}">
        <div class="playerMRx" ng-show="IsVisibleMRx">
            <p>Drag & Drop Items here</p>
            <div class="list clearfix">
                <div class="item text-center play_list"  ng-repeat="playItemMRx in playItemsMRx| limitTo: data.limitOfItemsMRx">
                    {{playItemMRx.title}}<i class="icon ion-close-round delete_button" ng-click="deleteItemMRx($index)"></i>
                </div>
                <div class="item text-center play_list more" ng-show='displayMoreMRx' ng-click="displayAllMRx()"  >
                    {{itemsRemainMRx}} more
                </div>
            </div>
            <div class="range range-positive">
                <input type="range" name="volume" min="0" max="30" ng-model="data.timeControlValueMRx">
            </div>
            <div class="clearfix min-minder">
                <div class="zero-min">0 Min</div>
                <div class="thirty-min">30 Min</div>
            </div>
        </div>
        <div class="subHeader clearfix">
            <div class="arrow_down">
                    <img src="img/arrow-down.png" ng-show="!changeIconMRx" ng-click="hidePlayerMRx()">
                </div>
               <div class="arrow_up">
                    <img src="img/arrow-up.png" ng-show="changeIconMRx" ng-click="showPlayerMRx()">
                </div>
            <div class="text_subheader">
                <span>Multilayer RX</span>
            </div>

            <div class="arrow_right">
                <img src="img/playbtn.png" style="width:35px"  ng-click="playTuneMRx()">
            </div>

            <div class="text1_subheader">
                <P>{{itemCountMRx}} Items,{{data.timeControlValueMRx}} Min</P>
            </div>   
        </div>
    </ion-footer-bar>
     <ion-footer-bar class="system_overview bar bar-footer" ng-hide="hideScan"  >
        <h1 class="title" style="color:white" ng-click="getRandomValue()" >Begin Analysis</h1>
    </ion-footer-bar>

</ion-view>