<ion-view  class="record_one" view-title="User Record" id="user-record">
    <ion-content>
        <div class='user-record'>
            <div class="list list-inset no-mar-left-right">
                <a class="button button-full button-dark access-record" ng-href="#/app/user_records/{{user_record_id}}">
                    <label>Access Clients Records</label>
                    <div class="forward">
                    <img src="img/forward-arrow.png">
                    </div></a>
                <div class="text-center">
                    <p>OR ENTER NEW CLIENT DETAILS BELOW</p>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="Enter your first name" ng-model="data.first_name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Enter your last name" ng-model="data.last_name">
                </label>
                <label class="item item-input item-stacked-label clearfix">
                    <ionic-datepicker idate="currentDate" disablepreviousdates="false"  disablefuturedates="true" callback="datePickerCallback" disableddates="disabledDates" title="title">
                        <button class="button calender"><img src="img/calendar-icon.png"></button>
                        <span class="input-label">Date Of Birth</span><br>
                        <!-- {{data.dob? (data.dob | date:'dd - MMMM - yyyy') :''}} -->
                        <input type="text" class="datepicker-input" placeholder="Enter your date of birth" ng-model="data.dob_show_format" />
                    </ionic-datepicker>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="user-record">
        <div class="send-detail-button" ng-click="sendDetailOne()">Next</div>
    </ion-footer-bar>  
</ion-view>