<ion-view class="record" view-title="Clients Records">
    <ion-content>
        <div class="item item-input-inset search-wrapper" style='background-color: rgba(255,255,255,0.5);border:none;margin-bottom:1px;'>
            <label class="item-input-wrapper">
                <input type="text" placeholder="Search" ng-model="search" style='background-color: white;width:100%;border-radius:5px;padding-left:45%'>
                <i class="icon ion-search"></i>
            </label>
        </div>
        <div class="user_records">
            <div class="list card" ng-if="data.users.length" ng-repeat="user in data.users | filter:search"style='background-color:transparent'>
                <div class="item item-avatar item-stacked-label" >
                    <img ng-if="user.record_image" src="{{user.record_image}}" />
                    <img ng-if="!user.record_image" src="img/default_profile.png" />
					
                    <h2><b>{{user.first_name + ' ' + user.last_name}}</b></h2>
                    <p>{{user.dob}}</p>
                </div>

                <div class="item item-body item-stacked-label">
                    <p  class="symptoms_detail"> {{user.symptoms_detail| limitTo:user.numLimit? user.numLimit : numLimit }} <span ng-if="!user.hide_more && (user.symptoms_detail.length > (user.numLimit? user.numLimit : numLimit))" type='button' ng-click="readMore($index)">...</span></p>
                    
                    <p>
                        <a class="button button-dark" style="width: 49%;font-size:12px" ng-href="#/app/past_record/{{user.id}}">View Past Result</a>
                        <a ng-href="#/app/voice_analysis/{{user.id}}" class="button button-dark" style="width: 49%;font-size:12px;background-color:#00B38C">Start New Analysis</a>
                    </p>
                </div>
            </div>
        </div>    
    </ion-content>
</ion-view>
