<ion-view class='voice' view-title="Voice Analysis">
    <ion-content>
        <div class="voice_analysis">
            <div><marquee style="text-align: center;" behavior="scroll" height="50px" align="center" scrollamount="2" direction="up">When ready,repeat the Vowels <span><br>
                <b>A</b>,<b> E</b>,<b> I</b>,<b> O</b>,<b> U</b></span> slowly. When complete, say your name and what issues you would like to focus on during this session.
            You may repeat this process as many times as you wish.</marquee></div>
            <div class="visualizer">
                
            </div>
            <div class="status">
                <progress class="voice-progress" style="" max="100" value="{{time*(100/recordingDuration)}}"> </progress>
            </div>
            <div class="timer">
                <label>{{textTime()}}</label>
                <p>Seconds</p>
            </div>
            <div class="buttons clearfix">
                <div class='play'>
                    <button class="button button-icon" ng-click="playPauseRecord()"  ng-disabled="playBtnDis">
                        <img style="width: 30px" src="{{playButtonImg}}">
                    </button>
                    <p ng-show="play">Play</p>
                    <p ng-show="!play" >Stop</p>
                </div>
                <div class="record {{recordClassBlack}}"  >
                    <button class="button button-icon" ng-click="startRecord()" > 
                        <img style="width: 30px" ng-src="{{recButtonImg}}">
                    </button>
                    <p>Record</p>
                </div>
            </div> 
        </div>
        
    </ion-content>
    
        
    <ion-footer-bar class='voice_analysis bar bar-subfooter'>
       <div class="button upload_button" ng-click="startAnalysis()">
                Begin Voice Analysis
        </div>
    </ion-footer-bar>
    
    <ion-footer-bar class="voice_analysis">
        <div class="button upload_button" ng-click="remoteVoiceUpload()">
                <img style="width: 20px; position:relative;top:3px; left:-3px;" src="img/upload-icon.png" >
                Upload Voice File For Long Distance
        </div>
    </ion-footer-bar>
</ion-view>