<div>
    <input type="text" ng-model="data.item_name" placeholder="Item Name">
    <div class="row">  
        <input class="col-32" ng-model="data.frequencies[0]" type="text" placeholder="110" />
        <input class="col-32" ng-model="data.frequencies[1]" type="text" placeholder="110" />
        <input class="col-32" ng-model="data.frequencies[2]" type="text" placeholder="110" />
    </div>
    <div class="row">  
        <input class="col-32" ng-model="data.frequencies[3]" type="text" placeholder="110" />
        <input class="col-32" ng-model="data.frequencies[4]" type="text" placeholder="110" />
        <input class="col-32" ng-model="data.frequencies[5]" type="text" placeholder="110" />
    </div>
</div>