<div>
    <p>Place Item on Tray and Import Energetic Signature</p>
    <div class="button item button_import">Import Now</div>
    <input type="text" placeholder="Item Name">
    <div class="row">  
        <input class="col-32" type="text" placeholder="110" />
        <input class="col-32" type="text" placeholder="110" />
        <input class="col-32" type="text" placeholder="110" />
    </div>
    <div class="row">  
        <input class="col-32" type="text" placeholder="110" />
        <input class="col-32" type="text" placeholder="110" />
        <input class="col-32" type="text" placeholder="110" />
    </div>
</div>