<div>
    <div class="form-input-label">Enter Library Name or File Name</div>
    <input type="text">
    <div class="form-input-label">Enter Recipient Device Serial Number To Export</div>
    <input type="text" placeholder="5ee8-49e2-c58e-4573">
</div>