<div>
    <div class="form-input-label">Enter New Library Name of File Name</div>
    <input type="text">
    <div class="form-input-label">Your Serial Number is as Follows</div>
    <input type="text" placeholder="5ee8-49e2-c58e-4573">
</div>