/* Comman CSS*/

.col-32{
    -moz-box-flex: 0;
    flex: 0 0 32%;
    max-width: 32%;
}

.pane
{
    background: url(../img/body.jpg) no-repeat center center fixed;
}
.herbs.pane
{
    background: url(../img/herbs.jpg) no-repeat center center fixed;
}
.libraries.pane,.list_user.pane
{
    background: url(../img/library-bg.png) no-repeat center center fixed;
}
.add_library.pane,.herb_one.pane
{
    background: url(../img/add-new-library.jpg) no-repeat center center fixed;
}
.supportive.pane
{
    background: url(../img/supportive-bg.png) no-repeat center center fixed;
}
.voice.pane, .setting.pane ,.mep.pane
{
    background: url(../img/bg-voice.png) no-repeat center center fixed;
}
.image.pane
{
    background: url(../img/bg-image.png) no-repeat center center fixed;
}
 .record.pane, .record_one.pane, .record_two.pane,.heading.pane,.cross_analysis.pane{
    background: url(../img/user-record-bg.jpg) no-repeat center center fixed;
}

.record_past.pane
{
    background: url(../img/past-record-bg.jpg) no-repeat center center fixed;
 }
 
 .frequency.pane
{
    background: url(../img/bg-image2.png) no-repeat center center fixed;
 }
 
 .system_ovrviw.pane, .accessory.pane {
     background: url(../img/system-overview-bg.jpg) no-repeat center center fixed;
 }

 .herbs.pane
 {
    background: url(../img/herbs.jpg) no-repeat center center fixed; 
 }
.pane, 
.voice.pane, 
.image.pane, 
.record.pane, 
.record_one.pane, 
.record_two.pane,
.system_ovrviw.pane, 
.setting.pane, 
.frequency.pane, 
.accessory.pane, 
.libraries.pane,
.supportive.pane, 
.herbs.pane, 
.add_library.pane,
.record_past.pane,
.herb_one.pane,
.list_user.pane,
.heading.pane,
.mep.pane,
.cross_analysis.pane{
    webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bar-footer{
    background-image: none;
	height:54px;
}
.voice.pane .bar-footer{
    background-image: none;
	height:44px;
}

.record_two .has-footer {
    bottom: 54px;
}
.list-inset{
 background: none;   
}

.font-white{
    color:#fff;
}
.title{
    color: #fff;
}
.item-stacked-label{
     background-color: rgba(255, 255, 255, 0.5);
	 border:none;
	 margin-bottom:2px;
}
.item-stacked-label input, .item-stacked-label textarea{
    background-color: rgba(255, 255, 255, 0);
}
.item-input-wrapper
{
    padding:0px !important;
}
.item-input{
    padding: 6px 20px;
}
.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}
.menu-avatar img{
    border-radius: 50%;
    height: 70px;
    margin-top: 0;
    width: 70px;
}
	.menu-avatar img.edit-img{
		width:24px;
		height:24px; 
		position:relative;
		left:-26px;
		}
.button.button-dark{
    background-color: #000;
}
.bar .title{font-size: 20px ;}
.bar h1{text-align:center !important;display:block !important;width:100% !important }
h1.title.sign-up{position:relative !important;left:0 !important}


/* LoginPage*/
.login .scroll-content {
	top:0;bottom:0;	
	}
.login .bar-footer{border:none}
.login .facebook-login{
    width: 20%;
}
.login .login-link{
    text-align:center;
    color: #fff;
}
.login .login-link .button{
    line-height: 20px;
    min-height: 20px;
	font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.08em;
}
.login .login_button{
    margin: 20px 20px;
	border-radius:3px;
	
}
.login .facebook-button{
    margin: 15px auto 30px;
	padding:0 10px;
}
.login .item {border-width: 0;margin: 0 0 1px;}
.login .input-label{
	font-size:12px;
}
.login .inputtag{
	font-size:12px;
	margin:-5px 0 0;
}
.login .text-center a{
	color:#000;
	font-size:14px;
	margin:-15px 0 0;
}
.login .login-link a{
	color:#fff;
	bottom:0;
	font-size:14px;
}
.login .text-center p{
	display: block;
    font-size: 12px;
    padding: 0;
    text-align: center;
}
		
.login-footer{background-color:transparent}
.login-footer .login{width:100%}

/* Forget Password Page */
.forget-password{
	padding:45px 0 0;
}
.bar .button.button-clear, 
.bar button.button-clear {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 0px 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.forget-password .button{
    margin: 10px 20px;
}
.forget-password .forget-text{
	margin:20px 20px 40px;
}
.forget-password .forget-text p{
	font-size: 18px;
	font-weight: 300;
	text-align:center;
	padding:10px 0 0 !important;     
	color:rgba(0,0,0,0.7)                          
}
.forget-password .item-input {border: medium none;padding: 6px 20px;}
.forget-password .forget-text p.forget-p{
	font-size: 22px;
	font-weight: 300;
	text-align:center;
	padding:10px 0 0;
	color:#000
}

.forget-password .text-center p{
	text-align:center;
	padding:0 30px;
}

.forget-password .button{
	border-radius:3px;
	margin:20px 20px 10px;
}
.forget-password .text-center.facebook-button img{width:100px !important; height:100px !important}

/* Activation Account Page */
.account-activation{ margin: 30px 0;}
.account-activation .item-stacked-label {border: medium none; margin-bottom: 2px;}
.account-activation .activate_button, .account-activation .free-trail{margin: 20px;}
.account-activation .text-center p{color:rgba(0,0,0,0.7);font-size:18px;margin-bottom:60px;}
.account-activation .button.button-clear.font-white{color:#fff}
.account-activation .ion-sad-outline{
    font-size: 30px;
}
.account-activation .email-support{
    display: block;
    height: auto;
    margin: 0 auto;
    width: auto;
}
.account-activation .free_trail_div{margin-top:50px !important}
/* Signup Page */

.signup {
    margin: 30px 0;
}

.signup .signup-link .button{
    line-height: 20px;
    min-height: 20px;
}
.signup .item-input {
    border: medium none;
    margin-bottom: 2px;
    padding: 6px 20px;
}
.signup .signup-link {
    text-align: center;
	padding:25px 0 0;
}
.signup .signup-link .button.button-clear.font-white{font-size:18px;}
.signup .signup_button{
    margin: 20px 20px;
	border-radius:3px;
}
.signup .facebook-button{
    margin: 15px auto;
}
.signup .text-center{
	display: block;
    font-size: 12px;
    padding: 0;
    text-align: center;
}
.signup .text-center p{
	padding:0 0 0 20px;
	font-size:12px;
}
.signup .input-label{
	font-size:12px;
}
.signup .item-stacked-label input, .item-stacked-label textarea{
	font-size:12px;
}
.signup a.button{
	font-size:14px;
	color:#fff;
}

/*symptom description page*/

.divider{
    font-size:14px;
}
/*user record list page*/
.search_field
{
    border:1px solid darkgrey !important;
    border-radius:15px !important;
}

.user-records .list.card .item
{
    width:100%;
    background-color:transparent;
    padding-bottom:0px !important;
}

/* User Recode One */
.user-record.bar-footer {
    background-color: transparent;
    border:none;
    width: 100%; 
}
.user-record .send-detail-button{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    margin: 0 !important;
    text-align: center;
    width: 100%;
}

.user-record .list.symtoms .item-input{
    opacity: 0.5;
}
.user-record .list.symtoms  .active, .user-record .list.symtoms  .active label{
    background-color: #E9D66C; 
    opacity:1;
}

.user-record .input-label{font-size: 20px; font-weight: 300;    letter-spacing: 0.05em;}
.user-record textarea{
    border:0 solid #ddd;
    margin:0 !important;
	font-size:14px;
    padding:10px 15px;
    text-align:left;
	height:100px;
}

.user-record .suffer-from label{
    border:none;
    background: none;
}
.user-record .list .item-input{
	padding-left:20px;
}
.user-record .item-divider{background-color:transparent;}
.user-record .item-divider .divider{font-size:16px;color:#fff}
.user-record .list.list-inset div.text-center{ margin:30px 0 20px 0px}
.user-record .item-stacked-label {border: medium none; margin-bottom: 2px;}
.user-record .item-stacked-label .divider{font-size:16px;color:#333}
.user-record .checkbox input, 
.user-record .checkbox-icon {height: 22px; width: 22px;}
.user-record .item-checkbox {bottom:5px;padding-left: 35px;position: absolute;right: 0;}
.user-record .checkbox-positive input:checked::before, 
.user-record .checkbox-positive input:checked + .checkbox-icon::before {
    background: #36b050 none repeat scroll 0 0;
    border-color: #36b050;
	border-radius:50%
}
.checkbox input::before, 
.checkbox-icon::before{border-radius: 50% !important; height:105% !important; width:105% !important}
.user-record .checkbox input::after, 
.user-record .checkbox-icon::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #fff #fff;
    border-image: none;
    border-style: none none solid solid;
    border-width: 0 0 2px 2px;
    content: " ";
    display: table;
    height: 7px;
    left: 30%;
    opacity: 0;
    position: absolute;
    top: 30%;
    transform: rotate(-45deg);
    transition: opacity 0.05s ease-in-out 0s;
    width: 14px;
}
.user-record .checkbox-positive input::before, 
.user-record .checkbox-positive .checkbox-icon::before {
    border-color: transparent;
}
.user-record .forward{
    float:right;
    width:50px;
    background-color:#00A17E;
    padding:7px 0px 0px 0px;
}
.user-record button.calender img{width:80%;margin-top:15px;}
.user-record .access-record{
    background-color: #00b38c;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
	border:none
}
.user-record a{
    background-color:#00A17E;
}
.user-record p{
    color:whitesmoke;
}
.user-record .calender{
    float:right;
    background-color:transparent;
}
.user-record .item-input .input::-moz-placeholder, textarea::-moz-placeholder{
	color:#000;
}
.user-record .item-divider{
	padding-bottom:0;
}
.user-record .datepicker-input{
    display: inline;
}


#user-record .no-mar-left-right{margin-left:0; margin-right:0}
#user-record .user-record .access-record{max-width:96%;margin:0 auto}
#user-record .user-record .list .item.item-input {border: 0 solid #84b33f;}
#user-record .item-stacked-label .input-label {padding: 0;}
#user-record .user-record.bar-footer { height: 54px;padding-left:0;padding-right:0}
#user-record .user-record .send-detail-button{line-height: 44px; width:96%;margin:0 auto !important}
.user-record .suffer-from{bottom: 0 !important;height: 30px;position: absolute;right: 0;  width: 30px;}
.suffer-box{padding:6px 0 !important; text-align:center;background-color:rgba(255,255,255,0.5); opacity:1 !important }
.checkbox input::before, 
.checkbox-icon::before{background:transparent}
.suffer-box .row{width:100%;color:#333}
/*voice analysis screen*/
.voice_analysis
{
    text-align:center;
}
progress {
    -moz-appearance: progressbar;
    -moz-border-bottom-colors: threedhighlight rgba(255,255,255,0);
    -moz-border-left-colors: threedshadow rgba(255,255,255,0);
    -moz-border-right-colors: threedhighlight rgba(255,255,255,0);
    -moz-border-top-colors: threedshadow rgba(255,255,255,0);
    background-color: rgba(255,255,255,0);
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    vertical-align: -0.2em;
}
.voice_analysis progress {
    border: 1px solid #fff;
    border-radius: 12px;
    width: 90%;
    height:15px;
    padding:2px !important;
    overflow:hidden;
}

.voice_analysis div{
    width:90%;
    margin:0 auto;
    padding:4%;
    font-size:15px;
    color:#333;
}
.voice_analysis div+div{padding:1% 4%;}
.voice_analysis span
{
    color:black;
}
.voice_analysis .ion-play,.voice_analysis .ion-mic-a
{
    font-size:40px;
    color:#fff;
}
.voice_analysis .play,.voice_analysis .record{
    float: left;
    width: 50%;
	padding:0 4%
}
.voice_analysis .record.black p{
    color: black;
}
.voice_analysis .upload_button {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    background-color: black;
    color: white;
}

.voice_analysis.bar-footer button .icon::before
{
    font-size:40px;
    line-height: 40px;
}
.voice_analysis.bar-footer {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    bottom:10px;
}
.voice_analysis .timer{
    font-size: 20px;
    font-weight: bold;
}
.voice_analysis .timer label{
    font-size: 40px;
    color: #000;
	line-height:40px;
}
.voice_analysis .timer p{color:rgba(0,0,0,0.75) !important; margin-bottom:0;font-size: 14px; line-height: 14px; text-transform:capitalize;font-weight:400}
@media (min-width:360px){
	.voice_analysis .timer p{rgba(0,0,0,0.75) !important; margin-bottom:0;font-size: 18px; line-height: 14px;}
	
	}
.voice_analysis progress { margin: 10px auto 0;}
.voice_analysis .visualizer{
    height: 100px;
    background: red;
}
.voice_analysis .play p{
    color: #fff;
}
.voice_analysis .record p{
    color: #fff;
}
.voice_analysis.bar.bar-subfooter.bar-footer {
    bottom: 60px;
}


@media (min-width:360px) and (max-width:1024px){
	.voice_analysis div + div {padding:5% 4%;}	
	}
/*accessories page*/

.accessory_container .item-divider
{
	 width:100%;
    font-size:14px;
	padding-top:35px;
	font-weight:400;
}
.accessory_container .range{display: list-item;}
.accessory_container .item span{
	display: inline-block;
    font-size: 13px;
    height: 30px;
    max-width: 100%;
    position: relative;
    top: 9px;
    width: 100%;
}

.accessory_container .col
{
    background-color:lavender;
    border:1px solid black;
}

.accessory_container .row
{
    padding:0px !important;
    margin:10px !important;
}
.accessory_container .list .item-divider{
	background-color:transparent;
	border:none;
	color:#fff;
}
.accessory_container .list .bg-color{
	background-color:rgba(255, 255, 255, 0.5);
	border:none;
	margin-bottom:2px;
}
.accessory_container .list .range{
	padding-left:16px;
	align-items: unset;
}
.accessory_container .list .range input{
	 flex: 1 1 auto;
    height: 30px;
    margin: 5px 0 10px;
    position: relative;
    top: 0;
    width: 100%;
}


/*Accessory-page*/
.accessory_container .ion-chevron-right
{
    font-size:20px !important;
}
.accessory_container .ion-email,.accessory_container .ion-clipboard
{
    font-size:40px !important;
}
.clearfix{
    display:block;
}
.clearfix:after{
    content:".";
    height:0;
    clear:both;
    visibility:hidden;
    display:block;
}
/*frequency page*/
.frequency_container .row{
    margin: 10px auto;
}

.frequency_container .col{
     border:1px solid black;
     background-color:#000;
     text-align:center;
	 margin-right:1px;
	 color:#fff;
}
.frequency_container  .border-right-style{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
 .frequency_container .active {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color:#fff;
	color:#000;
	margin:0;
}
.frequency_container .item-divider{
	background-color:transparent;
	color:#fff;
	border:none;
	font-weight:400;
	padding-bottom:5px;
	padding-top:35px;
	font-size:14px;
}
.frequency_container  .bg-color{
	background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding:8px 15px;
    width: 100%;
}

/*setting page*/
.setting_container i,.setting_container label{
    width:40px;
	margin-right:5px;
}
.setting_container .item-divider
{
    font-size:14px;
	border:none;
	font-weight:400;
	padding-bottom:5px;
}
.setting_container .list .item-divider{
	background-color:transparent;
	padding-top:35px;
	padding-bottom:5px;
	color:#fff;
}
.setting_container .list .bg-color{
	background-color:rgba(255,255, 255, 0.4);
	border:none;
	color:#000;
}
.setting_container .list .bg-color .item{
	background-color:transparent;
	border:none;
	margin-bottom:0;
	padding:0;

}
.setting_container .list .bg-color .border{
	border-bottom:none;
}
.setting_container .list .bg-color .a{	
	color:#000;
}
.setting_container .list .item .ion-clipboard::before{
	background-color:#fff;
	padding:10px;
	border-radius:5px;
}
.setting_container .list .item .ion-email::before{
	background-color:#fff;
	padding:10px;
	border-radius:3px;
}
.setting_container .list .item .ion-clipboard::before{
	background-color:#fff;
	padding:10px;
	border-radius:3px;
}
.setting_container .list .bg-color .icon{
	float: left;
    margin-left: 7px;
    margin-right: 5px;
    width: 50px;
}
.setting_container .list .bg-color .icon .icon-bg{
	background-color: #fff;
    border-radius: 5px;
    margin: 8px 7px 0;
    padding: 6px;
    width: 35px;
}
/*menu page*/
.text-center.menu-head
{
    background:url(../img/menu-header.jpg);
    webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.text-center.menu-head .menu-avatar{
	position:relative;
	top:50px;
	left:12px;
	text-align:left;
}
.text-center.menu-head .user_profile{
	position:relative;
	left:90px;
	text-align:left;
	color:#fff;
	padding:0 0 30px 0;
	top:-10px
}
 .list .item.text-left {
    border: 1px solid #a6b93e;
}
.user_profile .button,.user_profile p
{
    margin:0px !important;
}
.user_profile p
{
    padding:0px !important;
}
 img.nav-icon
 {
    width:30px;
 }
/*mind-analysis page*/
/*.system_overview
{
    background-color:lavender !important;
}*/

.system_overview .item-thumbnail-left, .item-thumbnail-left .item-content{
    padding: 5px;
    min-height: auto;
    background-color:  rgba(255, 255, 255, 0.5);
    z-index: 2;
}
.system_overview .item-thumbnail-left, .item-thumbnail-left .item-content:hover{
    background-color:  rgba(255, 255, 255, 1);
}

.system_ovrviw .has-subfooter{
    bottom: 98px;
}
.system_overview_container p,.system_overview_container a
{
    margin:0px;
    padding:0px;
    font-size:10px;
    line-height:15px;
}
.system_overview_container a{
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}
.system_overview .activeBlue{
    background-color:#1359ec;
    opacity:0.6;
}
.system_overview .activeRed
{
    background-color:rgba(255, 38, 38, 0.6);
}
.system_overview .activeYellow
{
    background-color: rgba(255,201, 38, 0.6);
}
.system_overview .activeGreen
{
    background-color: rgba(45,178, 0, 0.6);
}
.system_overview_container .para
{
    float:right;
    width:60px;
    line-height:30px;
    border-right:1px solid grey;
}
.system_overview_container .play_icon
{
    float:right;
    padding:0px 10px 0px 10px;
}
.system_overview_container .rx
{
    float:left;
    width:120px;
    line-height:30px;
}
.system_overview_container .drop_arrow
{
    float:left;
    font-size:30px;
}
.system_overview_container h2
{
    font-size:14px;
    line-height:20px;
}
.system_overview.bar-footer
{
    padding:0px !important;
}
.system_overview_container progress 
{
    margin: 0px 5px 0px 0px;
    float: left;
    width:90%;
}
.system_overview_container
{
    width:100%;
}

.image_analysis{
	text-align:center;
}
.image_analysis .image{
	background-color: rgba(255, 255, 255, 0.5);
    height: 320px;
    opacity: 1;
    padding-top: 20px;
}
.image_analysis .scan_image {
    max-height: 300px;
    max-width: 100%;
}
.image_analysis .upload_text {
    text-align: center;
    padding: 20px;
    color:#fff;

}

.image_analysis .gallery,.image_analysis .camera
{
    display: inline-block;
    margin: 15px 30px 0;
    color: #fff;
}
.image_analysis .gallery i,.image_analysis .camera i
{
    font-size: 30px;
    color: white;
}

.image_analysis .button
{   
    width:60%;
    margin:0 auto;
    padding:5px;
}

.image_analysis .button.button-icon {
    font-size: 40px;
}

.image_analysis .button.clearfix {
    background: none;
}

.image_analysis .button ,.recheck_footer .button{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 18px;
    line-height: 51px;
    background-color: black;
    color: white;
}
.recheck_footer .button {
    line-height: 42px;
}
.image_analysis.bar-footer ,.recheck_footer.bar-footer ,.cross_analysis_footer.bar-footer{
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    bottom:15px;
}

.system_overview .subHeader {
    background: #FFF8E3;
    height: 100%;
    width: 100%;
}

.system_overview .arrow_down {
    float: left;
    margin-left: 5px;
    margin-right:10px;
}
.system_overview .text_subheader {
    float: left;
    font-size: 16px;
    padding-top: 6px;
    min-width:130px;
}
.system_overview .text_subheader span{display:inline-block;word-wrap:normal;white-space:nowrap}
.system_overview .text1_subheader {
    float: right;
	padding-top:8px;

}
.system_overview .arrow_right img ,.system_overview .arrow_down img{
    width:35px;
}
.system_overview .arrow_right {
   float: right;
    margin-left: 0;
    padding: 1px 0 0 5px;
}

.system_overview .arrow_up {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 0;
}
.system_overview .arrow_up img,
.system_overview .arrow_down img{position: relative;top: 2px;width: 30px;}

.system_overview .list {
    margin-bottom: 0px;
}
.delete_button {
     margin-left:2px;color:red;
}
.system_overview.bar.bar-footer {
    padding: 0px;
    background-color: black;
   
}

.system_overview.bar.bar-subfooter{
  background-color: #fff8e3;
    bottom: 54px;
    padding: 5px;
}
.system_overview .playerMRx{
    bottom: 54px;
    left:0;
    position:absolute;
    width: 100%;
    min-height:110px;
    padding:5px 0px 5px 0px;
	background-color: rgba(255, 255, 255, 0.8);
    min-height:80px;
	padding: 10px;
	max-height:140px;
}

.system_overview.bar-subfooter .playerMRx{
    bottom: 44px;
}
.system_overview .playerBRx{
    background-color: rgba(255, 255, 255, 0.8);
    min-height:80px;
	padding: 10px;
	max-height:140px;
        width: 100%;
        position: absolute;
        left: 0;
}
.system_overview p{
    margin:0px;
    padding:0px;
    font-size:10px;
	word-wrap:normal;
	white-space:nowrap
}

.system_overview .playerBRx .range,
.system_overview .playerMRx .range{padding:0}
.system_overview .playerBRx .list,
.system_overview .playerMRx .list{max-height:60px; overflow:auto}
.system_overview .playerBRx .range input,
.system_overview .playerMRx .range input {
    -moz-box-flex: 1;
    display: block;
    flex: 1 1 0;
    margin-left: 0;
    margin-right: 0;
	padding:0 !important
}
.system_overview .playerBRx p,
.system_overview .playerMRx p{color: #535353; font-size: 14px;}
.min-minder{position: relative;  top: -10px;}
.min-minder .zero-min{color:#333; float:left;font-size:16px;}
.min-minder .thirty-min{color:#333; float:right;font-size:16px;}
.system_overview_two progress 
{
    margin: 0px 5px 0px 0px;
    width:90%;
    float: left;
}
.system_overview.bar.bar-subheader.bar-header {
    background: #FFF8E3;
	
}

.system_overview_two.system_overview.bar.bar-footer {
    padding: 0px;
    
}

.system_overview_two h2,.system_overview h2{
    margin: 6px 0px 19px;
}
.system_overview a ,.system_overview_container a{
     background-color: rgba(255, 255, 255, 0.5);
	 border:none;
	 margin-bottom:2px;
         min-height: auto;
}
.system_overview .list .item-thumbnail-left .scan_image ,.system_overview_container .list .item-thumbnail-left .scan_image{
	height: 70px;
    margin: 0 0 0 5px;
    width: 70px;
}
.system_overview .list .item-thumbnail-left h2 ,.system_overview_container .list .item-thumbnail-left h2{
	padding:0px 0 0;
	margin:0;
	vertical-align:auto !important
}
.system_overview .list .item-thumbnail-left .progerss-bar ,.system_overview_container .list .item-thumbnail-left .progerss-bar{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    float: left;
    height: 15px;
    margin: 5px 0 0;
    width: 80%;
    overflow:hidden
}
.system_overview.bar.bar-footer .subHeader {padding-top: 10px !important} 
.system_overview.bar.bar-footer .title{height: 54px;left: 0; line-height: 54px;}
.system_overview .list .item-thumbnail-left{ min-height: 70px; padding: 0; ; position: relative;background-color:transparent;margin-bottom:2px;border: none;}
.play_list {
    background-color: #222222;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    float: left;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    margin: 5px 10px 0 0;
    padding:0 25px 0 15px;
    width: auto;
	position:relative
}
.play_list .ion-close-round::before{color: #fff;font-size: 12px;position: absolute;right: 8px;top: 7px;}
.play_list.more{background-color:#00b38c;}

.system_overview .delete_button
{
    margin-left:2px;
    color:red;
}
.system_overview_container .item {
    padding:5px;
}
.has-subheader-player{
    top:200px;
}/*
.has-subfooter-player{
    bottom:200px;
}
.system_overview.bar{
    padding: 0px;
}*/
/*.system_overview.bar > div{
    padding: 5px;
}*/

/* user-records Page */
.user-records .item-body{
    padding-top: 0px;
    border-top: 0px;
}
.user-records .item-body .symptoms_detail{
    margin-top: 0px;
}
.user-records .item-body .button{
    font-size: 14px;
    line-height: 16px;
    padding: 5px 12px;
}
.user-records .item-avatar{
    padding-bottem: 0px;
    border-bottem: 0px;
}
.user-records .list.card
{
    background-color:transparent;
}
.user-record .list .item.item-input{
	border:#84b33f 1px solid;
}
.user-record .list .item-divider{border:#84b33f 1px solid;background-color:#84b33f;padding-bottom:8px; }
.user-record .item-divider{
	background-color:rgba(255,255,255,0.5);
	border:none;
	margin:0;
}

.user_records .item.item-avatar.item-stacked-label{
    min-height: 57px;
    padding-bottom: 0;
    padding-left: 72px;
}
.ionic .item-avatar > img:first-child, .ionic .item-avatar .item-image, .ionic .item-avatar .item-content > img:first-child, .ionic .item-avatar .item-content .item-image, .ionic .item-avatar-left > img:first-child, .ionic .item-avatar-left .item-image, .ionic .item-avatar-left .item-content > img:first-child, .ionic .item-avatar-left .item-content .item-image{border-radius: 50%;height: 100%;left: 16px;max-height: 40px;max-width: 40px;position: absolute;top: 16px;width: 100%;}
.search-wrapper .ng-pristine.ng-untouched.ng-valid{padding-left:0 !important;text-align:center;width:100%; color:#000;}
.item.item-input-inset .item-input-wrapper{padding-left:0; padding-right:0}
.item.item-input-inset .icon.ion-search{color: #8d8d93;
    left: 50%;
    margin-left: -35px;
    margin-top: -7px;
    position: absolute;
    top: 50%;}
@media( max-width:380px){
	.item.item-input-inset .icon.ion-search{ margin-top: -9px;}	
	}

.user_records .card,.user_records .list-inset {
    background-color: #fff;
    border-radius: 2px;
    margin:0;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.user_records .item-body.item-stacked-label{padding-top:0}
.user_records .button{font-size: 13px !important;}
.user_records .item-body p{margin-top:0}
.card .item {
    border: medium none;
    margin-bottom: 1px;
}
/*past record page*/
.past_record i
{
    font-size:20px !important;
}
.past_record .voice_analysis_button{
    color: #fff;
    line-height:50px;
    text-align: center;
    padding-top:4px;
    width: inherit;
	padding:0 0 0 35px;
	font-size:16px;
}
.record_past .item p { color: #333;}
	.record_past .item p+p{ color:rgba(0,0,0,0.5);}
	.record_past .item p+p+i{
		background: transparent url(../img/path-img.png) 0 center no-repeat;
		width:15px;
		height:100%;	
		background-size:contain;
		
		}	
	.record_past .item p+p+i:before{content:"";}
.past_record.bar-footer {
    padding: 0px;
    width: 96%;
    margin: 0 auto;
    background-color: #000;
    bottom:4px;
}
.past_record .item-stacked-label .input-label, .item-stacked-label .icon{
	padding:28px 0 0;
}
.bar-stable.bar.bar-header {
    background-color: transparent !important;
    border: none;
}
.bar.bar-stable .title {
    color: #fff;
	font-weight:400;
}
/*.bar-stable .button.button-icon {
    background: #transparent none repeat scroll 0% 0%;
    color: #fff;
}*/

.bar-stable .button.back-button.buttons.button-clear.header-item.ng-binding {
    color: #fff !important;
}
.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    font-size: 29px;
    margin-left: 5px;
}
.bar-stable .button.back-button.buttons.button-clear.header-item.ng-binding,
.bar a.button.back-btn{
    background: transparent url(../img/back-arrow.png) no-repeat scroll 0 0 / contain ;
    /*display:inline-block;*/
    height: 25px;
    position: relative;
    top: 6px;
    width: 25px;
	}
	.bar a.button.back-btn{top: 6px;position:absolute}
.bar-stable .button.back-button.buttons.button-clear.header-item.ng-binding i{display:none}

.bar .button.button-clear i{display:none}
.bar-header .ion-close-round::before{content: "";}
.bar .button.button-clear.close i{display:block;
    background: transparent url(../img/close.png) no-repeat scroll 0 0 / contain ;
    height: 25px;
    position: relative;
    top: 6px;
    width: 25px;
	}
.bar.bar-header h1{left:0 !important;margin:0 !important}
/*--Library-page--*/
.libraries .list{
	padding-top:20px;
}

.libraries .list .item-icon-right{
	background-color: rgba(255, 255, 255, 0.5);
    border: medium none;
    margin-bottom: 2px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-top: 10px;
}
.libraries .list .item-icon-right .text{
	float:left;
	padding:22px 0 0 15px;
}
.libraries .bar-footer{
	background-color:#000;
	text-align:center;
	display:block;
}
.libraries .bar-footer .button{
	background-color:#000;
	color:#fff;
}
.libraries .list .item-icon-right .arrow-right{
	width:15px;
	height:25px;
	float:right;
	margin-top:20px;
}
.libraries button.button.button-full.import_button
{
    float:left;width:50.5%;margin:3px;font-size:14px;
}
.libraries button.button.button-full.add_manually
{
    float:right;width:50.5%;margin:-6px;background-color:#00e6ac;color:black;font-size:14px;
}
/*herb one page*/
.library_detail_container .category_picture p ,.new_library_container .category_picture p{
     float:left;width:70%;line-height:50px;color:black;
}
.library_detail_container .category_picture img,.new_library_container .category_picture img{
 float:right;width:50px;border-radius:30px;
}
.library_detail_container .user_selected {
    line-height:35px;
}
.library_detail_container .user_selected  p{
 float:left;width:30%;color:black;
}
.library_detail_container .user_selected .forward_arrow {
    width:15px;
}
.library_detail_container .user_selected .current_user {
    float:right;
    width:35%;
}
.library_detail_container .category_name,.library_detail_container .category_picture{
    line-height:35px;
}
.library_detail_container .category_name p {
     float:left;width:70%;color:black;
}
.library_detail_container .category_name input{float:right;width:15%;background-color:transparent;}
.library_detail_container .item_list p{float:left;width:50%;line-height:28px;color:black}
 .library_detail_container .item_list .item_count {float:right;width:40%}
 .library_detail_container .item_list .item_count img{width:13px}
 .library_detail_container textarea[readonly]:not(.cloned-text-input){
     background-color:transparent;
 }
 /*heading page*/
 .heading_container .frequency_head
 {
     padding:10px 0px;line-height:25px;
 }
 .heading_container .frequency_head label,.heading_container .frequency_sweep_head label{
     font-size:16px;margin-left:10px;width:50%;float:left;line-height:34px
 }
 .heading_container .frequency_head .edit,.heading_container .frequency_sweep_head .save
 {
 background-color:black;color:white;padding:5px 13px;width:50px;float:right;margin-right:20px;border-radius:8px;
 }
 .heading_container .frequency_head .add,.heading_container .frequency_sweep_head .add
 {
    background-color:#00e6ac;color:white;padding:5px 13px;width:50px;float:right;margin-right:5px;border-radius:8px;
 }
 .heading_container .frequency_record label{float:left;width:33%}
 .heading_container .frequency_record{padding:10px 0px;font-size:14px;}
/*supportive page*/

.supportive_container .list{
	padding-top:35px;
}
.supportive_container .list .item{
	background-color:rgba(255, 255, 255, 0.5);
	border:none;
	margin-bottom:2px;
}
.supportive_container .list .item-icon-right{
	padding-right:25px;
}
.supportive_container .text{
	float:left;
}
/*list user page*/
.list_user_container p{
   float:left;width:30%;margin-left:2%;line-height:50px;color:black;
}
.list_user_container img{
    float:left;width:50px;border-radius: 25px;
}
/*herbs page*/
.herbs_container .herbs
{
    width: 99%;
    margin: 0 auto;
}
.herbs_container .herbs p{
     font-size:14px;color:black;float:left;width:70%;
}
.herbs_container .herbs img {
   float:right;width:15px; 
}
.herb_footer,.library_footer,.new_library_footer
{
padding:0px;
}
.herb_footer .add_item, .library_footer .add_library, .new_library_footer .save_button
{
    margin:0px;font-size:16px;
}
.herbs_container .list .item{
	background-color:rgba(255,255,255,0.5);
	border:none;
	margin-bottom:2px;
	color:#000;
}
/*add-library css*/
.new_library_container .list .item,.library_detail_container .list .item{
	background-color:rgba(255,255,255,0.5);
    color: #000;
	border:none;
    margin:1px;
	padding:6px 12px;
}
.new_library_container .list .top-arrow,.library_detail_container .list .top-arrow{
	float: right;
    margin: 10px 10px 0 0;
    vertical-align: middle;
    width: 15px;
}
.new_library_container .list .item-stacked-label{
	padding: 20px 12px 0;
}
.new_library_container .list .item-stacked-label .text-area,.library_detail_container .list .item-stacked-label .text-area{
	background-color: transparent;
    margin-top: 5px;
    opacity: 0.5;
    padding: 0;
}
.new_library_container .list .bottom-arrow{
	margin: 0 10px;
    vertical-align: middle;
    width: 15px;
}

/* POP-UP WINDOW */
.popup-container .popup {
	background: #ced6db url(../img/pop-up-bg.jpg) center center no-repeat;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-height: 90%;
	min-width:280px;
    max-width: 540px;
    width: 70%;
	position:relative;
	min-height:190px;
	background-size:cover
}
.popup-head {border-bottom: 1px solid #afafbb;}
.popup-buttons {
    border-top: 1px solid #afafbb;
    padding:0px !important;
    margin:0px !important;
    min-height: 45px !important;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}
.date-picker-popup .popup-buttons{position: relative}
.scan-popup .popup-head{display: none;}
.scan-popup .popup-body div.text-center{margin: -32px auto 0 !important; position: absolute;top: 50%; width: 100% !important;left: 0}

.popup-buttons .button {
    padding:0px !important;
    background:transparent !important;
    border-radius: 4px;
    font-size: 16px !important;
    font-weight: 600;
    width: 90%;
	
}


.popup-buttons .button.button-positive{
    color: #111;
}
.popup-buttons .button.button-positive:hover {
    color: #111;
    text-decoration: none;
}
.popup-buttons.login.image_analysis{padding-left:0 !important;padding-right:0 !important;}
.popup-buttons.login.image_analysis .button{width:50%;margin-left:0;background-color:transparent;bottom:0;border-top:1px solid #afafbb;border-radius:0;color:#000}

.popup-buttons.login.image_analysis .button+.button{left:auto;right:0%;border-left:1px solid #afafbb}
.popup-body{display: table; line-height: normal;  min-height: 96px; padding: 10px; text-align: center; text-transform: none; vertical-align: middle; width: 100%;}
    .popup-body span{display: table-cell; height: 100%; height: 80px;vertical-align: middle; width: 100% !important;}
    .popup-title {text-transform: capitalize;}
.popup input{ border-radius: 5px; text-align: center;}
.popup .form-input-label{text-align: center;margin: 10px 0;}
 /* Scan Complete  */
.scan-complete-popup .popup-head{display: none;}
.scan-complete-popup .popup-body p.text-center{margin: -30px auto 0 !important; position: absolute;top: 50%; width: 100% !important;left: 0}
.scan-complete-popup .popup-buttons .button{width:50%;margin-left:0;background-color:transparent;bottom:0;border-radius:0;color:#000}
.scan-complete-popup .popup-buttons .button+.button{left:auto;right:0%;border-left:1px solid #afafbb}

 /* Form Popups  */
 .form-popup.new_lab .popup{min-height: 275px}

.form-popup.popup-container .popup {background: #ced6db url("../img/form-popup-bg.png") no-repeat scroll cover cover;} 
.form-popup .popup-body p.text-center{margin: -30px auto 0 !important; position: absolute;top: 50%; width: 100% !important;left: 0}
.form-popup .popup-buttons .button{width:50%;margin-left:0;background-color:transparent;bottom:0;border-radius:0;color:#000}
.form-popup .popup-buttons .button+.button{left:auto;right:0%;border-left:1px solid #afafbb}
.form-popup .popup{ min-height: 250px;}
.form-popup.add-item .popup{ min-height: 230px;}
.form-popup.add-item .popup .row{ padding: 5px 0px;width: 100%}
.form-popup.add-item .popup .row input:nth-child(2){margin: 0 2%; }

.form-popup.add-item-import .popup{ min-height: 350px;}
.form-popup.add-item-import .popup .row{ padding: 5px 0px;width: 100%}
.form-popup.add-item-import .popup .row input:nth-child(2){margin: 0 2%; }
.form-popup.add-item-import .popup p{padding: 5px;opacity: .5;}
.form-popup.add-item-import .popup .button_import{background-color: #00B38C;color: white;margin-bottom: 10px;}
.form-popup.bulk-import .popup{min-height: 328px}
.form-popup.bulk-import .popup textArea{resize: none;}

/* Edit User Profile Image Popup */
.upload-popup .popup-buttons{
    border: 0;
}

/* Range Changes For firefox */
input[type=range]{}
input[type=range]::-moz-range-track {
    height: 2px;
    background: #222;
    border-radius: 0px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
	border:2px solid #222;
    border-radius: 50%;
    background: #ffbf00;
	margin-top:-2px;
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline:none;
    outline-offset: -1px;
}
/* Range Changes For firefox */

/* CHROME SAFARI RANGE CSS */
.range input {background-size: 100% 2px;}
.range input::-webkit-slider-thumb:before {top:8px;}
input[type=range]{-webkit-appearance: none;}
input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: #222;
    border: none;
    border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border:2px solid #222;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background:#ffbf00;
    margin-top:-10px;
}
input[type=range]:focus {outline: none;}
input[type=range]:focus::-webkit-slider-runnable-track {background: #ccc;}



.system_ovrviw.pane, .accessory.pane .lotus-lady{
	background-image:url(../img/profile-bg.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	height:auto;
	position:absolute;
	width:100%;
	background-size:100%;
	z-index:1
}

progress[value]::-webkit-progress-value {
  background-color: #FFBF00;
  border-radius: 5px; 
}

progress[value]::-webkit-progress-bar  {
   /* Styling here */
   background-color: transparent;
}

progress[value]::-moz-progress-bar { 
     background-color: #FFBF00;
      border-radius: 5px; 
}

/* Progress Yellow */
progress[value].activeYellow::-webkit-progress-value {
  background-color: rgba(255,201, 38, 1);
  border-radius: 5px; 
}

progress[value].activeYellow::-webkit-progress-bar  {
   /* Styling here */
   background-color: transparent;
}

progress[value].activeYellow::-moz-progress-bar { 
    background-color: rgba(255,201, 38, 1);
    border-radius: 5px; 
}

/* Progress activeGreen */
progress[value].activeGreen::-webkit-progress-value {
  background-color: rgba(45,178, 0, 1);
  border-radius: 5px; 
}

progress[value].activeGreen::-webkit-progress-bar  {
   /* Styling here */
   background-color: transparent;
}

progress[value].activeGreen::-moz-progress-bar { 
     background-color: rgba(45,178, 0, 1);
      border-radius: 5px; 
}

/* Progress activeRed */
progress[value].activeRed::-webkit-progress-value {
  background-color: rgba(255, 38, 38, 1);
  border-radius: 5px; 
}

progress[value].activeRed::-webkit-progress-bar  {
   /* Styling here */
   background-color: transparent;
}

progress[value].activeRed::-moz-progress-bar { 
     background-color: rgba(255, 38, 38, 1);
      border-radius: 5px; 
}

/* Progress activeBlue */
progress[value].activeBlue::-webkit-progress-value {
  background-color: #1359ec;
  border-radius: 5px; 
}

progress[value].activeBlue::-webkit-progress-bar  {
   /* Styling here */
   background-color: transparent;
}

progress[value].activeBlue::-moz-progress-bar { 
    background-color: #1359ec;
    border-radius: 5px; 
}

/* voice progress bar */
.voice-progress[value]::-webkit-progress-value {
  background-color: #fff;
  border-radius: 5px; 
}

.voice-progress[value]::-webkit-progress-bar  {
   /* Styling here */
   background-color: transparent;
}

.voice-progress[value]::-moz-progress-bar { 
     background-color: #fff;
      border-radius: 5px; 
}

[nav-view-transition="ios"][nav-view-direction="forward"], 
[nav-view-transition="ios"][nav-view-direction="back"] { background-color: transparent !important; }

/*recheck page*/
.recheck_container .inputName,.mep_container .inputName,.bio_container .inputName
{
     width:99%;margin:0 auto;padding:7px;height:55px;line-height:20px;background-color:rgba(255,255,255,0.7);
}
.recheck_container .recheck_list,.cross_analysis_container .cross_list,.mep_container .mep_list
{
    width:99%;margin:0 auto;background-color:rgba(255,255,255,0.5);padding:9px;line-height:35px;
}
.recheck_container .recheck_list p,.cross_analysis_container .cross_list p ,.mep_container .mep_list p
{
   float:left;width:50%;
}
.recheck_container .recheck_list label
{
     float:right;width:70px;margin-right:5px;
}
.bar.bar-footer.recheck_footer
{
    padding:3px;
}
.recheck_container .recheck_list label .checkitems{
	float: left;
    line-height: 20px;
    margin-left: 5px;
    width: 10px;
}
.recheck_container .recheck_list label .checkitems:checked{
	background-color:#000;
}
.recheck_popup {
    margin:10px 0px;
}
.recheck_popup button{
    width:100%;background-color:white;padding:10px;border-radius:10px;margin-bottom:10px;border:none;color:grey;
}
.recheck_style div.popup-head{
    border:none;
}
/*cross analysis page*/
.cross_analysis_container .filter_div
{
    width:99%;
    margin:0 auto;
    padding:8px;
    background-color:rgba(255,255,255,0.5);
    height:82px;
}
.cross_analysis_container .filter_div label
{
    font-size:16px;
    padding:5px 0px;
    border-radius:8px;
}
/*28-04-2016*/
.cross_analysis_footer .footer_container
{
    width:100%;
}
.cross_analysis_footer .button
{
    color:white;
    width:95%;
    margin-left:2.5%;
    border-radius:5px;
    font-size:16px;
    background-color:#00B38C;
    padding:5px 0px;

}

.cross_analysis_footer label{
    color:white;font-size:16px;
}

.cross_analysis_footer.bar-footer
{
    width:100%;
    padding:15px 0 95px;
    bottom:0px;
}
.cross_analysis_container .filter_div .ion-search{
	left: -2%;
    position: relative;
    top: -25px;
}
.cross_analysis_container .input_div
{
    background: transparent;
}

.cross_analysis_container input{
    display:block;
    margin:0 auto;
}
.cross_analysis_footer.bar-footer .number-content{
	text-align:center;
	color:#fff;
	font-size:16px;
        padding-bottom:10px;/*28-04-2016*/
}
/*mep page*/
.mep_container .mep_list label{
    float:right;
    width:40px;
    line-height:35px;
    font-size:14px;
}
.mep_container .playerMEP
{
    background-color:rgba(255,255,255,0.5);
    color:grey;
}
.mep_container .playerMEP .min-minder
{
     width:93%;margin: 0 auto;
}
.mep_container .playerMEP .set_time input{margin:0px;}
.mep_container .playerMEP .scan_button{width:95%;margin:10px;background-color:black;color:white;}
.mep_footer{background-color:black;color:white;}
/*bio container*/
.bio_container .scan_button
{
    width:95%;margin:10px;background-color:black;color:white;
}